<div class="ws-heading">
  <h2>Your Workout</h2>
</div>

<%= render "shared/exercises", exercises: @workout.workout_exercises, workout: @workout %>

<div class="new-workout-button">
  <p><%= link_to "Add a New Workout", new_workout_workout_exercise_path(@workout), class: "btn-primary" %></p>
</div>
