.message-right {
  text-align: right;
  // width: max-content;
  border-bottom-right-radius: none!important;
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
  background-color: #f7f7f8!important;
  padding: 10px!important;
}

.message-left {
  text-align: left;
  // width: max-content;
  border-bottom-right-radius: 20px!important;
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px!important;
  border-bottom-left-radius: none!important;
  background-color: #edeef7!important;
}

.chat-username {
  font-family: 'Poppins', sans-serif!important;
  letter-spacing: 1.5px;
  font-size: 25px;
  color: black;
  margin-left: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.chatroom-container {
  max-width: 500px;
  background-color: white!important;
  margin: auto;
  padding: 15px;
  border-radius: 12px;
}

.form-control {
  border-radius: 20px;
  background-color: #edeef7;
}

#send-btn {
  padding: 11px;
  height: 37px;
  width: 37px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #4F46E5;
  color: white;
  position: absolute;
  right: 6px;
  border-color: #4F46E5!important;
}

.chatbox-form {
  position: relative;
}
