.message-right {
  text-align: right;

  // width: max-content;
  border-bottom-right-radius: 20px!important;
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px!important;
  border-bottom-left-radius: none!important;
  background-color: #f7f7f8!important;
  padding: 10px!important;
}

.message-left {
  text-align: left;
  // width: max-content;
  border-bottom-right-radius: none!important;
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px!important;
  border-bottom-left-radius: 20px!important;
  background-color: #edeef7!important;
}

.chat-username {
  font-family: 'Poppins', sans-serif!important;
  letter-spacing: 1.5px;
  font-size: 25px;
  color: black;
  margin-left: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.chatroom-container {
  max-width: 500px;
  background-color: white!important;
  margin: auto;
  padding: 15px;
  border-radius: 12px;
}

.form-control {
  border-radius: 20px;
  background-color: #edeef7;
  padding: 24px;
}

#send-btn {
  padding: 11px;
  border-radius: 18px;
  background-color: #00BE94;
  color: white;
}
