// Specific CSS for your home-page
.home-container {
  height: 80vh;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 60%;
  h1 {
    color: #4F46E5;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif!important;
    letter-spacing: 3px;
  }
  h3 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif!important;
    font-size: 24px;
  }
  .home-info {
    width: 50%;
    padding-right: 5%;
  }
  .home-form {
    background-color: #fff;
    width: 50%;
    font-size: 20px;
    padding: 40px 16px;
    border-radius: 16px;
    box-shadow: 1px 1px 3px #888888;
  }
  input {
    font-size: 24px;
  }
  hr {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.home-btn {
  width: 100%;
  border-radius: 18px!important;
  font-family: 'Poppins', sans-serif!important;
  font-weight: normal!important;
  padding: 0.7rem!important;
  background-color: #FF8458;
  text-align: center;
  color: #fff;
  border: solid medium #FF8458!important;
  &:hover {
    background-color: transparent!important;
    color: black!important;
    transition: all 0.3s ease!important;
  }
}

.dynami-login {
  background-color: #4F46E5;
  border-radius: 18px!important;
  font-family: 'Poppins', sans-serif!important;
  font-weight: normal!important;
  padding: 0.7rem!important;
  border: solid medium #4F46E5!important;
  &:hover {
     background-color: transparent!important;
     color: black!important;
     transition: all 0.3s ease!important;

  }
}

.form-check {
  align-items: center;
  display: flex;
}

.divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.sign-up {
  background-color: #fff;
  padding: 40px 16px;
  border-radius: 16px;
}
