
.heading {
  text-align: center;
  text-decoration: none;
  font-size: 24;

}

.information {
  font-size: 12px;
  text-align: left;
}

.continue {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

.container {
  margin-bottom: 80px!important;
}
