.ex-card {
  // border: 1px solid blueviolet;
  // background-color: white;
  // border-radius: 24px;
  // width: 50%;
  // padding: 2rem;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;x-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  // justify-content: center;
  // text-align: center;
  // margin-top: 24px;
}
.ex-card-body {
  // width: 50%;
  // padding: 15px;
}

// .exercise_name {
//   font-size: 24px;
//   margin-bottom: 24px;
// }

.exercise_inline {
  display: inline-block;
  margin-bottom: auto;
  padding-left: 16px;
}

.reps {
  margin-bottom: 8px;
}
.sets {
  margin-bottom: 8px;
}
.weight {
  margin-bottom: 8px;
}

.workout-container{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exercise_card_heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 220px;
  margin-top: 16px;
  margin-bottom: 10px;
}


// Workout session new page styling
// This is some filler text :)
//

.ws2-heading {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  max-width: 80%;
  margin-top: 28px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.ws2-heading h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 10px;
  flex-direction: row;
}


.select, .date, .string, .integer  {
  font-family: 'Poppins', sans-serif!important;
  letter-spacing: 1.5px!important;
  font-size: 16px;
  color: black;
}

.new_workout_session, .new_workout, .new_workout_exercise  {
  width: 70%;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btn, .btn-primary {
background-color: #753fee;
border-radius: 8px;
color: white;
font-size: 20px;
font-family: "Poppins", sans-serif !important;
padding: 10px 20px!important;
font-weight: bold;
text-transform: uppercase;
border: medium solid #753fee;
width: 100%;
  &:hover {
    border: medium solid #753fee!important;
    color: #753fee!important;
    background-color: transparent!important;
    transition: all 0.3s ease-in-out;
  }
}

// Workout exercise new page styling

.ws-heading h2{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

// workout session show page

.new-workout-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.ws-exercise-card-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ex-card {
  width: 25%;
  padding: 15px;
}

.ex-card-body {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  padding: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-line-ws {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.top-line-ws h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px;
  display: inline-block;
  background: #ffeed0;
  border-radius: 5px;
  color: #ff4040;
  margin-bottom: 8px;
}

.exercise_name {
  text-decoration: none;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: black;
  /* padding: 0.5rem; */
  text-transform: capitalize;
  margin-bottom: 10px;
}
