.wsheading {
  display: flex;
  justify-content: center;

}

.ws-card-container {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#weight {
  font-size: 50px;
  text-align: center;
}

.ws-card {

}

.ws-card-heading {
}

.ws-heading {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  justify-content: center;

}

.details {

}

.ws-new {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  padding-left: 3rem;
}
