<%= link_to workout_sessions_path, class: "btn-back" do %>
<i class="fas fa-arrow-left"></i>
<% end %>
<div class = "workout-container">
  <%= render "shared/exercises", exercises: @session.workout.workout_exercises, class: "ex-card-body"%>
</div>
