<div class="wsheading">
  <h2>Your Workouts</h2>
</div>

<h2><%= "Workout Name: #{@session.workout.name}" %></h2>
<h3><%= "Workout Type: #{@session.workout.workout_type}" %></h3>

<%= render "shared/exercises", exercises: @session.workout.workout_exercises %>
<%= link_to 'Back', workout_sessions_path %>
