<%= link_to root_path, class: 'btn-back' do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<h3 class='ml-4'>Chats</h3>
<%= render "shared/chats", chatrooms: @chatrooms %>

<h5 class='ml-4'>Other members</h5>
<%= render "shared/users", users: @other_users %>
