<h2>Chats</h2>
<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom.users.find { |u| u != current_user}.email, chatroom_path(chatroom) %>
<%end %>
<h2>Other members</h2>
<% @other_users.each do |user| %>
  <%= link_to user.email, user_chatrooms_path(user), method: 'post' %>
<%end %>
<%= link_to 'Back', root_path %>
