<% @chatrooms.each do |chatroom| %>
  <%= link_to chatroom_path(chatroom) do %>
  <div class="chat-card">
    <div class="chat-user">
      <img class="h-8 w-8 rounded-full" src=<%= chatroom.users.find { |u| u != current_user}.avatar_url %> alt="">
      <p><%= chatroom.users.find { |u| u != current_user}.username %> </p>
    </div>
  </div>
  <%end %>
<%end %>
