<h2>Add a food</h2>

<%= render "shared/foods", foods: @meal.foods %>

<div class="container">
  <%= simple_form_for(@food) do |f| %>
    <%= f.input :name %>
    <%= f.submit value: 'Search for a food', class:'btn btn-primary' %>
  <% end %>
</div>
