<div class="home-container">
  <div class="home-info">
    <h1>DYNAMI //</h1>
    <h3>The place to get fit and eat healthy while staying social</h3>
  </div>
  <div class="home-form">
    <%= render 'shared/sign_in' %>
    <hr>
    <%= link_to new_user_registration_path do %>
      <div class="home-btn">
      Sign up
      </div>
    <% end %>
  </div>

</div>
