<%= render "shared/banner" %>
<div class="index-page-container">
  <div class="index-chats">
    <h2>Chats</h2>
    <%= render "shared/chats" %>
    <h2>Other users</h2>
    <%= render "shared/users" %>
  </div>

  <div class="card-col">
    <%= render "shared/posts" %>
  </div>
</div>
