<%= render "shared/banner" %>
<div class="index-page-container">
  <div class="index-chats">
    <%= render "shared/chats" %>
    <%= render "shared/users" %>
  </div>

  <div>
    <%= render "shared/posts" %>
  </div>
</div>
