<%= render "shared/banner" %>
<div class="index-page-container">
  <div class="row">
  <div class="col-4">
    <%# <%= render "shared/chats" %>
    <%# <%= render "shared/users" %> %> %>
  </div>

  <div class="col-8">
    <%= render "shared/posts" %>
  </div>

  </div>
</div>
