nav {
  display: flex;
  justify-content: center;
  background-color: #753fee;
  font-family: 'Poppins', sans-serif!important;
  top: 0px!important;
  position: sticky!important;
  z-index: 1;
  width: 100%;
  min-height: 4rem;
  align-items: center;
}

.logo {
  color: #faf1ff;
  font-family: 'Poppins', sans-serif!important;
  letter-spacing: 3px;
  font-size: 25px;
  margin-left: 20px;
}

.link-container {
  width: 100px;
  display: flex;
  justify-content: center;
}

.link-container:hover {
  background-color: rgba(241, 241, 241, 0.534);
  border-radius: 8px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}

.nav-links a {
  font-size: 35px;
  text-decoration: none;
  color: #faf1ff!important;
  font-weight: 300;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.log-out {
  font-size: 35px;
  text-decoration: none;
  list-style: none;
  color: #faf1ff!important;
  font-weight: 300;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin-right: 25px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #faf1ff;
  margin: 5px;
}

@media screen and (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #753fee;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  #log-out-icon {
    opacity: 0;
  }

  .burger {
    display: block;
    right: 63px;
    position: absolute;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0px);
  }
}
