.navbarheader {
  display: flex;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.192);
  height: 5.5rem;
  justify-content: center;
  position: fixed;
  bottom: 0px!important;
}

.screen {
  margin-bottom: 5.5rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 30px;
}

.link {
  color: black!important;
}
